<div class="login-page">
  <div class="login-box">
    <div class="card">
      <div class="card-body login-card-body">
        <div class="login-logo">
          <a href=""><b>Registrar</b> nuevo usuario </a>
        </div><br>
        <label for="">Nombre</label>
          <div class="input-group mb-3">
            <input  type="text" class="form-control" [(ngModel)]="nombre" placeholder="Nombre">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <label for="">Apellido</label>
          <div class="input-group mb-3">
            <input  type="text" class="form-control" [(ngModel)]="apellido" placeholder="Apellido">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <label for="">Tipo Identificación</label><br>
          <select name="" id=""class="form-control"  (change)="onChange($event.target.value)">
            <option value="">Seleccione tipo de identificación</option>
            <option  *ngFor='let line of tipo' value="{{line.codigo}}" >{{line.detalle}}</option>
          </select>
          <br>
        <label for="">Número Identificación</label>
          <div class="input-group mb-3">
            <input  type="text" class="form-control" [(ngModel)]="numeroIdentificacion" placeholder="Número Identificación">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
        <label for="">Contraseña</label>
          <div class="input-group mb-3">
            <input type="password" class="form-control" [(ngModel)]="contrasena" placeholder="Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <label for="">Correo Electronico</label>
          <div class="input-group mb-3">
            <input  type="text" class="form-control" [(ngModel)]="email" placeholder="Correo Electronico">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
        <div class="social-auth-links text-center mb-3">
          <button class="btn btn-block btn-success text-white" (click)='registrar()'>
            Registrar
          </button>
          <button class="btn btn-block btn-danger text-white" (click)='cancelar()'>
            Cancelar
          </button>
        </div>
        <div *ngIf="show" >
          <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
        </div>
      </div>
    </div>
  </div>
</div>


