<div class="container">

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" >Usuario</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" >Juego</button>
    </li>

  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="card  mb-3" style="width: 30rem; margin-top: 20px;
      margin-right: 20px;
      margin-left: 20px;">
        <div class="card-body">

            <a href=""><b>Gestiona</b> usuarios </a>
          <br>
          <label for="">Tipo Identificación</label><br>
            <select name="" id=""class="form-control"  (change)="onChange($event.target.value)">
              <option value="">Seleccione tipo de identificación</option>
              <option  *ngFor='let line of tipo' value="{{line.codigo}}" >{{line.detalle}}</option>
            </select>
            <br>
          <label for="">Número Identificación</label>
            <div class="input-group mb-3">
              <input  type="text" class="form-control" [(ngModel)]="numeroIdentificacion" placeholder="Número Identificación">

            </div>
          <label for="">Nombre</label>
            <div class="input-group mb-3">
              <input  type="text" class="form-control" [(ngModel)]="nombre" placeholder="Nombre">

            </div>
            <label for="">Apellido</label>
            <div class="input-group mb-3">
              <input  type="text" class="form-control" [(ngModel)]="apellido" placeholder="Apellido">

            </div>
          <label for="">Contraseña</label>
            <div class="input-group mb-3">
              <input type="password" class="form-control" [(ngModel)]="contrasena" placeholder="Password">

            </div>
            <label for="">Correo Electronico</label>
            <div class="input-group mb-3">
              <input  type="text" class="form-control" [(ngModel)]="email" placeholder="Correo Electronico">

            </div>
          <div class="social-auth-links text-center mb-3">
            <app-actualiza-usuario [usuario]="getDato()"></app-actualiza-usuario>
            <app-buscar-usuario [identificacion]="numeroIdentificacion"></app-buscar-usuario>
            <app-eliminar-usuario [identificacion]="numeroIdentificacion"></app-eliminar-usuario>
          </div>
          <div *ngIf="show" >
            <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>

        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <app-juego></app-juego>
    </div>
  </div>




</div>



