<!--<nav>
  <a class="button" routerLink="/login" routerLinkActive="activebutton">Login</a>
  <a class="button" routerLink="/registra" routerLinkActive="activebutton">Registrar Usuario</a>
  <a class="button" routerLink="/actualizar" routerLinkActive="activebutton">Actualizar Usuario</a>
  <a class="button" routerLink="/buscar" routerLinkActive="activebutton">Buscar Usuario</a>
  <a class="button" routerLink="/eliminar" routerLinkActive="activebutton">Eliminar Usuario</a>
</nav>-->

<router-outlet></router-outlet>

