<div class="container">

    <div class="card mb-3" style="width: 30rem; margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;">
      <div class="card-body login-card-body">

          <a href=""><b>Iniciar</b> Session </a>
        <br>
        <label for="">Usuario</label>
          <div class="input-group mb-3">
            <input  type="text" class="form-control" [(ngModel)]="usuario" placeholder="Usuario">

          </div>
          <label for="">Contraseña</label>
          <div class="input-group mb-3">
            <input type="password" class="form-control" [(ngModel)]="password" placeholder="Password">

          </div>
        <div class="social-auth-links text-center mb-3">
          <button class="btn btn-block btn-success text-white" (click)='login()'>
            Ingresar
          </button>
          <button class="btn btn-block btn-danger text-white" (click)='registrar()'>
            Registrase
          </button>
        </div>
        <div *ngIf="show" >
          <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
        </div>
      </div>
    </div>

</div>

