<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col"><h2>Juega Triki</h2></div>
        <div class="col"><button (click)='iniciar()'>Iniciar Juego</button></div>
        <div class="col">Turno {{turno}}</div>
      </div>


    </div>
    <div class="card-body">
      <div>
        <div class="row" style="border: 1px;">
          <div class="col">
            <div class="row">
             <h1 class="text-warning">{{jugador1}}</h1>
            </div>
            <div class="row">Jugador 1</div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-sm"><button (click)='marcar(1)'>{{valor1}}</button></div>
              <div class="col-sm"><button (click)='marcar(2)'>{{valor2}}</button></div>
              <div class="col-sm"><button (click)='marcar(3)'>{{valor3}}</button></div>
            </div>
            <div class="row">
              <div class="col-sm"><button (click)='marcar(4)'>{{valor4}}</button></div>
              <div class="col-sm"><button (click)='marcar(5)'>{{valor5}}</button></div>
              <div class="col-sm"><button (click)='marcar(6)'>{{valor6}}</button></div>
            </div>
            <div class="row">
              <div class="col-sm"><button (click)='marcar(7)'>{{valor7}}</button></div>
              <div class="col-sm"><button (click)='marcar(8)'>{{valor8}}</button></div>
              <div class="col-sm"><button (click)='marcar(9)'>{{valor9}}</button></div>
            </div>
          </div>
          <div class="col">
            <div class="row"><h1 class="text-danger">{{jugador2}}</h1>
              <div class="row">Jugador 2</div>
              <div class="row"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
